/*Medium Devices:tablet portrait mode=>601px->900px*/
@media only screen and (min-width: 601px) and (max-width: 900px){
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}  
/*******************RESET ENDS********************/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body{
    font-family: philosopher, 'sans-serif';
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    overflow-x: hidden;
    background-color: #2C3A47;
    color: #0AFADF;
    scroll-behavior: smooth;
}
button{
    font-family: philosopher, 'sans-serif';
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
}
body a{
    text-decoration: none;
    color: #0AFADF;
}
.tap-target{
	min-width: 50px;
	min-height: 50px;
}

/***************infobar-top***************/
.infobar-top{
	width: 100%;
	background-color: #58B19F;
	/* color: #fff; */
border: 1px solid red; 
}
.infobar-top a{
    color: #fff;
}
.email-social-hamicon{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    border: 1px solid yellow;   
}
.email{
    font-size: 20px;
    border: 1px solid red; 
  }
  .email:active{
    background-color: #2C3A47;
    border-radius: 5px;
}
.email a:active{
    border-bottom: solid #58B19F;
    margin-right: 4px;
}
.fa-envelope-open{
    margin-right: 5px;
  }
 .social{
  display: none;
}
.hamicon{
	background: #58B19F;
  border: solid #58B19F;
  outline: none;
  position: absolute;
  right: 1%;
  top: 1px;
  font-size: 22px;
}
.hamicon:active{
  border: 2px solid #000;
  border-radius: 5px;
  font-weight: 700;
  color: #fff;
}

/***************nameHeader***************/
.nameHeader{
    width: 100%;
    text-align: center;
    font-weight: 600;
    padding: 10px;
  }
.nameHeader > .label{
  margin: 5px;
  padding: 10px;
  font-size: 30px;
  font-weight: 600;
  line-height: 2;
  }
.nameHeader > .descrip{
  margin: 5px;
  padding: 10px;
  font-size: 25px;
  font-weight: 400;
  line-height: 2;  
  }

/***************navbar***************/
.navbar {
  width: 100%;
  transition: linear 0.3s;
  background-color: #58B19F;
  border: 1px solid red;
}
.options {
	width: 100%;
	font-size: 20px;
	/* padding: 10px; */
  border: 1px solid red;
}
.navbar a {
  color: #fff;
	/* margin-left: 20px;
  padding: 19px; */
  border: 1px solid red;
}
.closebtn{
  display: none;
}

/***************slideshow***************/
.slideshow{
  width: 100%;
}
.slides{
  width: 100%;
  height: auto;
  text-align: center;
}
.slide img{
  height: 300px;
  max-width: 100%;
}
.slide{
	display: none;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 5s;
	animation-name: fade;
  animation-duration: 5s;
  width: 100%;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
 }
 .dot {
	height: 5px;
  width: 5px;
  background-color: #58B19F;
	margin: 0 3px;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.slideOn {
	background-color: #fff;
}

/***************author***************/
.author{
  width: 100%;
  border-top: 2px solid #0AFADF;
}
.author-label h1{
	font-size: 30px;
	font-weight: 500;
  line-height: 2;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.author-details-photo{
  display:flex;  
  flex-wrap:wrap;
  justify-content:space-between;
}
.author-details{
  width: 70%;
	line-height: 2;
  font-size: 20px;
	text-align: left;
  padding: 10px;
}
.author-details p{
	margin: 5px;
	padding: 10px;
}
.authPara{
  display: none;
}
.authReadMore{
  background: none;
  border:none;
  color: #fff;
  padding: 10px;
  text-decoration: underline;
}
.authReadMore:active{
  color: #000;
  text-decoration: underline;
  background-color: aquamarine;
  border-radius: 5px;
}
.author-details a{
  text-decoration: underline;
}
.author-details a:active{
  color: #000;
  text-decoration: underline;
  background-color: aquamarine;
}
.author-photo{
  width: 30%;
  animation-duration: 5ms;
}
.author-photo img{
  border-radius: 50%;
  border: 5px solid #fff;
  margin: 10px;
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
  height: 200px;
  max-width: 200px;
}

/***************about***************/
.about{
  width: 100%;
  background-image: url(/images/bookFrontPoster.jpg);  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-label{
	font-size: 30px;
	font-weight: 500;
  line-height: 2;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.about-details-photo{
  display:flex;  
  flex-wrap:wrap;
  justify-content:space-between;
}
.about-details{
  width: 70%;
  font-size: 20px;
	line-height: 2;
	text-align: left;
	padding: 10px;
}
.about-details p{
  margin: 5px;
	padding: 10px;
}
.about-photo{
  width: 30%;
  animation-duration: 5ms;
}
.about-photo img{
  border-radius: 50%;
  border: 5px solid #fff;
  margin: 5px;
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
  height: 200px;
  max-width: 200px;
}
.abtReadMore{
  background: none;
  border:none;
  color: #fff;
  padding: 10px;
  text-decoration: underline;
}
.abtReadMore:active{
  color: #000;
  text-decoration: underline;
  background-color: aquamarine;
  border-radius: 5px;
}
.abtPara{
  display: none;
}

/***************charac***************/
.charac{
  width: 100%;  
}
.charac-label h1{
  font-size: 30px;
  font-weight: 500;
  line-height: 2;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.charac-label h4{
  font-size: 20px;
  /* line-height: 2; */
  text-align: left;
  margin: 10px;
  padding: 15px;
}
.charac-details{
  width: 100%;
  margin-top: 10px;  
}
.swiper-container {
  width: 100%;
  height: 100%;
  cursor: grab;
}
.swiper-slide {
  /* Center slide text vertically */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}
#characVideo{
  width: 200px;
  max-width: 100%;
  height: auto;
}
.charac-card{
  position: relative;
  width: 100px;
  margin: 10px;
}
.card-bio{
  padding: 10px;
}
.card-bio h3{
  font-size: 20px;
  margin: 5px 0;
  color: #fff;
}
.card-bio p{
  font-size: 18px;
  margin: 5px 0;
}
.swiper-button-prev, .swiper-button-next{
  display: none;
}

/***************reviews***************/
.reviews{
  width: 100%;
  background-image: url(../images/reviewBg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}
.reviews-label h1{
  font-size: 30px;
  font-weight: 500;
  line-height: 2;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.reviews-details{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  position: relative;
}

/***************media***************/
.media{
  width: 100%;
  color: #fff;
  /* Photo by Matthew Guay on Unsplash */
  background-image: url(../images/characBg.jpg);  
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
.media-label h1{
	font-size: 30px;
	font-weight: 500;
  line-height: 2;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
.media-label p{
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
	line-height: 2;
	text-align: left;
}
.media-details{
  width: 100%;
 }
 .print-media, .electro-media{
  display:flex;  
  flex-wrap:wrap;
  padding: 10px;
}
.news img{
  width: 150px;
  height: 100px;
  max-width: 100%;
}
.electro-media .news{
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}
.print-media > .news{
  flex-basis: 25%;
  margin: 10px 0;  
  padding: 30px;
  text-align: center;
  position: relative;
}
.mediaReadMore{
  background: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  border:none;
  outline: none;
  color: #000;
  padding: 5px;
  text-decoration: underline;
  position: absolute;
  left: 0;
  bottom: 0;
}
.mediaReadMore:active{
  color: #fff;
  text-decoration: underline;
  border-radius: 5px;
}
.mediaPara{
  display: none;
}
.bgWhite:active{
  background-color: #fff;
  border-radius: 10px;
}
.bgRed:active{
  background-color: red;
  border-radius: 10px;
}
.bgBlue:active{
  background-color: #00ABEE;
  border-radius: 10px;
}

/***************interviews***************/
.interviews{
  width: 100%;  
}
.interviews-label h1{
  font-size: 30px;
  font-weight: 500;
  line-height: 2;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.interviews-label h4{
  font-size: 22px;
  line-height: 2;
  margin: 10px;
  padding: 10px;
}
.interviews-details{
  width: 100%;
}
.interview-video-text{
  width: 100%;
}
.interviewTexts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.interviewV{
  margin: 20px 0;
  padding: 10px; 
  text-align: center; 
}
.interviewV iframe{
  width: 400px;
  height: 200px;
  border-radius: 5px;
  margin: 0 auto;
}
.interv-two iframe{
  height: 160px;
}
.interviewReadMore{
  background: none;
  font-size: 20px;
  border:none;
  outline: none;
  color: #fff;
  padding: 10px;
  text-decoration: underline;
  outline: none;
}
.interviewReadMore:active{
  color: #000;
  text-decoration: underline;
  background-color: aquamarine;
  border-radius: 5px;
}
.intervPara{
  display: none;
}
.interviewTexts{
  width: 100%;
}
.interviewT{
  margin: 20px 10px;
  padding: 10px;  
}
.interviewT h2{
  padding: 10px;
}
.interviewT:active a{
  text-decoration: underline;
  color: #fff;
}
/***************contact***************/
.contact{
  width: 100%;
  border-top: 3px solid #0AFADF;
}
.contact-label h1{
	font-size: 30px;
	font-weight: 500;
  line-height: 2;
  margin: 10px;
  padding: 10px;
  text-align: center;
} 
.contact-label h4{
  font-size: 22px;
	line-height: 2;
  margin: 10px;
  padding: 10px;
}
.contactForm{
	width: 100%;
}
.contactForm form{
  padding: 0 10px;
  width: 100%;
}
.contactForm form>div{
  position: relative;
  padding: 0 10px;
}
.contactForm form>div .input-field{
  border: 1px solid;
  background: none;
  outline: none;
  border-bottom: 5px solid #0AFADF;
  border-radius: 20px;
  margin: 30px auto;
  padding: 20px;
  position: relative;
  font-size: 22px;
  font-family: philosopher, 'sans-serif';
  color: #0AFADF;
  transition: 0.3s ease;
  z-index: 1;
}
form>div .name-input{
  width: 50%;
}
form>div .email-input{
  width: 70%;
}
form>div .msg-input{
  height: 150px;
  width: 80%;
}
form>div .form-label{
  position: absolute;
  left: 30px;
  top: 45px; 
  color: #fff;
  opacity: 0.3;
}
form>div .input-field:focus{
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}
form>div .input-field:focus + label{
  opacity: 1;
  top: -25%;
  left: 1%;
  margin: 10px;
  transition: 0.5s ease;
}
.submit{
  width: 30%;
  border: 1px solid;
  border-bottom: 5px solid #0AFADF;
  border-radius: 20px;
  outline: none;
  background: none;
	border-radius: 10px;
	color: #0AFADF;
  font-size:22px;
  font-family: philosopher, 'sans-serif';
	padding: 10px;
  margin: 0 20px;
  margin-bottom: 10px;
  opacity: 0.3;
}
.submit:active{
  border-bottom: 5px solid #95a5a6;
  background-color: #2d3436;
	color: #fff;
  transition: 0.5s ease;
  opacity: 1;
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}
/***************footer***************/
.footer{
  background-color: #58B19F;
  color: #000;
  width: 100%;
}
.footer a{
	color: #fff;
	text-decoration: none;
}
.copyright-developer{
	width: 100%;
  color: #000;	
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* text-align: center; */
  padding: 10px;
}
.developer a:active{
  text-decoration: underline;
  border-radius: 5px;
  background-color: #2C3A47;
  padding: 5px;
}
/**********scrollTop**********/
.btn-scroll-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background:transparent;
    opacity: 0.8;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .btn-scroll-top:active{
    background-color: #58B19F;
    color: #fff;
    border: 5px solid #000;
    border-radius: 5px;
  }
  .fa-chevron-circle-up{
    font-size: 40px;
    line-height: 2;
    padding: 10px;
  }
  
}