@media only screen and (max-width: 600px) {
.swiper-container{
/*  width: 1200px;*/
  height: 1000px;
  max-width: 100%;
  position: relative;
  border-radius: 10px;
}
.swiper-wrapper > .swiper-slide{
/*  width: 1000px;*/
  height: 900px;
  max-width: 100%;
  position: relative;
  padding: 10px 0;
/*  border: 1px solid red;*/
}  
.swiper-slide > p{
  font-size: 18px;
  line-height: 1.5;
/*  border: 1px solid red;*/
}
.chapterTitle > .chapterContent, .header > .headerContent{
  text-align: center;
  width: 100%;
  margin: 200px 0;
  padding: 70px 50px;
  position: relative;
/*  border: 1px solid red;*/
}
.chapterContent > h1, .headerContent > h1, .chapterEnd > h1{
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin: 5px;
  padding: 10px;
}
.chapterContent > h4, .headerContent > h4{
  font-size: 25px;
  font-weight: 500;
  line-height: 2;
  margin: 5px;
}





}