  /* Extra large devices-1200px and up*/
  @media only screen and (min-width: 1200px) {
  /* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
  */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }  
  /*******************RESET ENDS********************/
  *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body{
	font-family: philosopher, 'sans-serif';
	font-weight: 400;
	font-size: 22px;
	line-height: 2;
  overflow-x: hidden;
  background-color: #2C3A47;
	/* background: linear-gradient(216deg, #4fab94, #3676af, #a06fa0, #7b6e7a);
	background-size: 800% 800%;
	-webkit-animation: Grad 6s ease infinite;
	-moz-animation: Grad 6s ease infinite;
	animation: Grad 6s ease infinite;	font-family: philosopher, 'sans-serif'; */
  color: #fff;

}
/* @-webkit-keyframes Grad {
	0%{background-position:0% 49%}
	50%{background-position:100% 52%}
	100%{background-position:0% 49%}
}
@-moz-keyframes Grad {
	0%{background-position:0% 49%}
	50%{background-position:100% 52%}
	100%{background-position:0% 49%}
}
@keyframes Grad {
	0%{background-position:0% 49%}
	50%{background-position:100% 52%}
	100%{background-position:0% 49%}
}
 */

body a{
  text-decoration: none;
  color: #fff;

}
.tap-target{
	min-width: 48px;
	min-height: 48px;

}

/***************load***************/
.load{
  width: 100%;
  height: 100vh;
  background: #fff 
  url(/images/loading.gif) no-repeat center;
}
.whole-body{
  animation-duration: 5ms;

}

/***************infobar-top***************/
.infobar-top{
	width: 100%;
/*	background-color: #58B19F;
*/	color: #fff;
/*border: 1px solid red; 
*/
}
.email-social-hamicon{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
  
}
.email{
  margin: 5px auto;
/*  border: 1px solid red; 
*/font-size: 15px;

}
.email a:hover{
  border-bottom: solid #58B19F;
  color: #58B19F;
  margin-right: 4px;

}

.fa-envelope-open{
  margin-right: 2px;
}
.social{
/*   border: 1px solid yellow; 
*/  margin: 0 auto;

}
.social-icons a{
  color: #fff;
}
.fa-facebook:hover{
  color: #fff;
  background: #3b5999;
  box-shadow: 10px 3px 10px rgba(0,0,0,.25);
  transition: all 0.3s;
  border-radius: 50%; 
}
.fa-instagram:hover{
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  color: #fff;
  box-shadow: 10px 3px 10px rgba(0,0,0,.25);
  transition: all 0.3s;
  border-radius: 50%; 

}
.fa-youtube:hover{
  color: #fff;
  background: #cd201f;
  box-shadow: 10px 3px 10px rgba(0,0,0,.25);
  transition: all 0.3s;
  border-radius: 50%; 

}
.fa-hashtag:hover{
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  color: #fff;
  box-shadow: 10px 3px 10px rgba(0,0,0,.25);
  transition: all 0.3s;
  border-radius: 50%; 

}

.icon{
/*   border: 1px solid yellow; 
*/  padding: 5px 5px;
  font-size: 20px;
text-decoration: none;
 
}
.hamicon{
  display: none;
}	

/***************navbar***************/
.closebtn{
	display: none;
}
.navbar{
  width: 100%;
  margin-bottom: 10px;
  transition: linear 0.3s;
	 /* border: 1px solid yellow;  */
}
.options{
	width: 100%;
	margin: 0 auto;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
  /* border: 1px solid red; */
}
.options a{
	color: #fff;
	/* margin: 10px; */
	margin-left: 20px;
  padding: 19px;
  /* border: 1px solid red; */

}
.options a:hover{
  background-color: #58B19F;
  border-radius: 5px;
  color: #000;
}
.sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index: 5;
  background-color: #7f8c8d;
  transition: linear 0.3s;

}

/***************slideshow***************/
.slideshow{
  margin-bottom: 10px;
  width: 100%;
  /* height: 550px; */
  /* border: 1px solid red; */
}
.slides{
	border: 10px solid #CAD3C8;
  width: 60%; /*1075px*/
  /* height: auto; */
  margin: 0 auto;
  border-radius: 10px;

}
.slides img{
  width: 100%;
  height: auto;
  max-width: 900px;
  /* border: solid yellow; */

}

.slide{
	display: none;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 5s;
	animation-name: fade;
  animation-duration: 3s;
  /* border: solid yellow; */
  width: 100%;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
 }

.dot {
  border: 2px solid #000; 
	height: 10px;
  width: 10px;
  background-color: #7f8c8d;
	margin: 0 3px;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.slideOn {
	background-color: #fff;
}
.caption {
  /* border: 1px solid red; */
  width: 50%;
  font-size: 22px;
  line-height: 1;
  margin-left: 5px;
}

/***************about***************/
.about{
  width: 100%;
  margin: 10px 0;
  /* border: 1px solid red; */
  background-image: url(/images/bookFrontPoster.jpg);  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}
.about-label{
	font-size: 40px;
	font-weight: 700;
	line-height: 2;
  padding: 5px;
  text-align: center;
}
.about-details-photo{
  display:flex;  
  flex-wrap:wrap;
  justify-content:space-between;
  /* border: 1px solid red; */

}
.about-details{
  width: 70%;
  font-size: 22px;
	line-height: 2;
	text-align: left;
  padding: 10px;
  /* border: 1px solid red; */

}
.about-details p{
	margin: 5px;
	padding: 10px;
}
.about-photo{
  width: 30%;
 /* padding-top: 400px; */
   animation-duration: 5ms;
  
}
.about-photo img{
  border-radius: 50%;
  border: 5px solid #fff;
  margin: 5px;
  margin-left: 50px;
  margin-top: 10px;
  width: 100%;
  height: 270px;
  max-width: 270px;

}



/***************author***************/
.author{
  /* border: 1px solid red; */
  width: 100%;
  margin: 10px 0;

}
.author-label h1{
	font-size: 40px;
	font-weight: 700;
	line-height: 2;
  padding: 10px;
  text-align: center;

}
.author-details-photo{
  display:flex;  
  flex-wrap:wrap;
  justify-content:space-between;
  /* border: 1px solid red; */

}
.author-details{
  width: 70%;
  font-size: 22px;
	line-height: 2;
	text-align: left;
  padding: 10px;
  /* border: 1px solid red; */
  margin-top: 10px;

}
.author-details p{
  margin-top: 50px;
	padding: 10px;
}
.author-photo{
  width: 30%;
  /* padding-top: 400px; */
  /* padding-left: 30px; */
  animation-duration: 5ms;
  /* border: 1px solid red; */

}
.author-photo img{
  border-radius: 50%;
  border: 5px solid #fff;
  margin: 10px;
  margin-left: 50px;
  margin-top: 10px;
  width: 100%;
  height: 270px;
  max-width: 270px;

}

/***************charac***************/
.charac{
  width: 100%;  
}
.charac-label h1{
  font-size: 40px;
  font-weight: 700;
  line-height: 2;
  padding: 10px;
  text-align: center;

}
.charac-label h4{
  font-size: 22px;
  line-height: 2;
  text-align: left;
  padding: 10px;
}
.charac-details{
  width: 100%;
  margin-top: 30px;  
}
.card-one-two, .card-three-four, .card-five-six, .card-sev-eigt, .card-nine-ten{
  width: 100%;
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}
.card-one, .card-two, .card-three, .card-four, .card-five, .card-six, .card-sev, .card-eigt, .card-nine, .card-ten{
  flex-basis: 50%;
}
.card-three, .card-four, .card-sev, .card-eigt{
  flex-direction: row-reverse;
}

.charac-card {
  border-radius: 5px;
  position: relative;
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
}
#characVideo{
  max-width: 100%;
  height: auto;
}
#one-bio, #two-bio, #five-bio, #six-bio, #nine-bio, #ten-bio{
  width: 60%;
  position: absolute;
  top: 100px;
  right: 0;
  text-align: center;
}
#three-bio, #four-bio, #sev-bio, #eigt-bio{
  width: 60%;
  position: absolute;
  top: 100px;
  left: 0;
  text-align: center;
}
.charac-card-bio h3{
  font-size: 25px;
  margin: 15px 0;
}
.charac-card-bio p{
  font-size: 20px;
  margin: 15px 0;
}

/***************media***************/
.media{
  width: 100%;
  margin: 10px 0;
  color: #000;
  /* Photo by Matthew Guay on Unsplash */
  background-image: url(../images/characBg.jpg);  
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;  
}
.media-label h1{
	font-size: 40px;
	font-weight: 700;
	line-height: 3;
  padding: 5px;
  text-align: center;
}
.media-label p{
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 22px;
	line-height: 2;
	text-align: left;

}
.media-details{
  width: 100%;
  /* border: 1px solid red; */
  display:flex;  
  flex-wrap:wrap;
  justify-content:space-between;
  align-content: space-between;
  padding: 20px;
  margin-top: 20px;
}
.media-details img{
  max-width: 100%;
  width: 250px;
  height: 150px;
}
.media-details p{
  /* border: 1px solid red; */
  font-size: 27px;
  line-height: 2;
  text-align: center;
  font-weight: 500;
}
.news{
  /* border: 1px solid yellow; */
  flex-basis: 25%;  
  padding: 10px;
  text-align: center;
}
.bgWhite:hover{
  background-color: #fff;
  border-radius: 10px;
}
.bgRed:hover{
  background-color: red;
  border-radius: 10px;
}
.bgBlue:hover{
  background-color: blue;
  border-radius: 10px;
}
.news:hover{

}

/***************contact***************/
.contact{
  width: 100%;
  margin: 10px 0;
  border: 1px solid red;
}
.contact-label h1{
	font-size: 40px;
  font-weight: 700;
	line-height: 3;
  padding: 5px;
  text-align: center;
}
.contact-label h4{
  margin: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 22px;
	line-height: 2;
	text-align: left;
  padding: 10px;
  /* border: 1px solid red; */
}
.social-contactForm{
  width: 100%;
  margin: 5px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid red;
  display:flex;  
  flex-wrap:wrap;
  justify-content:space-between;
  align-content: space-between;
}
.contactForm{
  width: 40%;
   border: 1px solid yellow; 

}
form { 
    width: 600px;
  margin:0 auto;
  float: right; 
   border: 1px solid yellow; 

}
.input-field {
  color: #000;
  font-size: 22px;
  line-height: 2;
  transition: all 0.3s;
  padding: 10px;
  margin: 20px 0;
  width:100%;
  border-radius: 10px;
  font-family: philosopher, 'sans-serif';
}
textarea {
  height: 200px;
  line-height: 150%;
  resize:vertical;
}
.input-field:hover{
  border: 5px solid #000;
  border-radius: 5px;
  transition: all 0.3s;

}

.submit{
  border: 5px solid #000;
  width: 40%;
  background-color: #2C3A47;
  border-radius: 10px;
  cursor:pointer;
  color:white;
  font-size:22px;
  line-height: 2;
  padding:10px 0;
  transition: all 0.3s;
  font-weight:500;
  float: right;
  font-family: philosopher, 'sans-serif';

}
.submit:hover {
  border: 5px solid #fff;
background:#58B19F; 
}
.instaPosts{
  width: 25%;
}

/***************footer***************/
.footer{
	background-color: #58B19F;
	width: 100%;
}
.copyright-developer{
  width: 100%;
  display:flex;  
  flex-wrap:wrap;
  justify-content:space-between;
  align-content: space-between;
	color: #fff;	
	font-size: 20px;
	line-height: 2;
  padding: 10px;
}
.copyright{
  flex-basis: 70%;
  text-align: center;
  margin: 5px auto;
}

.developer{
  flex-basis: 30%;
  text-align: right;
  margin: 5px 0;
}
.developer a{
  color: #000;
}
.developer a:hover{
  color: #fff;
  text-decoration: line-through;
}




}
